<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.writetrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MainApplication">

        <activity
            android:name=".ActivityMain"
            android:label="WriteTrack">
            <intent-filter>
                <category
                    android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityEntry"
            android:label="Add Entry">
        </activity>

        <activity
            android:name=".ActivityJournal"
            android:label="Journal">
        </activity>

        <activity
            android:name=".ActivityTotals"
            android:label="Totals">
        </activity>


    </application>

</manifest>
